<!--div class="disable-scrollbars">
    <div><img src="https://images-static.nykaa.com/uploads/cca2a63e-ac9b-41fd-ac70-94d73935e81a.jpg?tr=cm-pad_resize,w-300" alt="Lipsticks" ></div>
    <div id="foundation"><img src="https://images-static.nykaa.com/uploads/22cdb06f-d103-417b-a6db-3ae8f977761f.jpg?tr=cm-pad_resize,w-300"  alt="Foundation"></div>
    <div id="supersavings"><img src="https://images-static.nykaa.com/uploads/905bfc80-03e2-4866-9e4f-721a3c503703.jpg?tr=cm-pad_resize,w-300"  alt="super savings"></div>
    <div id="skincare"><img src="https://images-static.nykaa.com/uploads/b1af0e96-72d3-4687-ac7f-d564f8e2df09.jpg?tr=cm-pad_resize,w-300"  alt="skincare"></div>
    <div id="haircare"><img src="https://images-static.nykaa.com/uploads/a873398e-39a8-4e8c-8c2b-d201a42eadbd.jpg?tr=cm-pad_resize,w-300"  alt="haircare"></div>
</div-->